﻿body {
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-bar {
    display: flex;
}

.contact-left {
    margin-right: auto;
}

.parent {
    display: flex;
}

.main-nav {
    font-size: 14px;
}

    .main-nav .parent {
        justify-content: center;
    }

        .main-nav .parent li {
            margin-right: 12px;
        }

.parent li {
    display: inline;
    padding: 5px 5px;
}