﻿
@{
    Layout = null;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title-Index</title>
    <link href="~/Content/css/my_css.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="top-bar">
            <div class="main-bar">
                <div class="contact-left">
                    <a>0123.888.0123 (HN)</a>
                    <a>0129.999.0129 (TP.HCM)</a>
                    <button>Liên hệ quảng cáo</button>
                    <button>Like</button>
                    <button>Follow</button>
                    <button>YouTube</button>
                </div>
                <div class="Login-right">
                    <button>Đăng nhập</button>
                    <button>Đăng ký</button>
                    <input placeholder="Tìm kiếm" />
                </div>
            </div>
        </div>

        <div id="main-container">
            <div class="banner-container">
                <img src="~/Content/images/Logo_Vnexpress.png" />
                <img src="~/Content/images/right-ads-1.png" />
                <img src="~/Content/images/right-ads-2.png" />
            </div>
        </div>
        <div class="main-nav">
            <ul class="parent">
                <li class="home"> <img src="~/Content/images/home.png" alt="Trang Chủ" style="height: 15px;"> </li>
                <li class="thoisu">Thời sự</li>
                <li class="thegioi">Thế giới</li>
                <li class="kinhdoanh">Kinh doanh</li>
                <li class="giaitri">Giải trí</li>
                <li class="thethao">Thể thao</li>
                <li class="phapluat">Pháp luật</li>
                <li class="giaoduc">Giáo dục</li>
                <li class="suckhoa">Sức khỏe</li>
                <li class="giadinh">Gia đình</li>
                <li class="dulich">Du lịch</li>
                <li class="khoahoc">Khoa học</li>
                <li class="sohoa">Số hóa</li>
                <li class="xe">Xe</li>
                <li class="congdong">Cộng đồng</li>
                <li class="tamsu">Tâm sự</li>
                <li class="video">Video</li>
                <li class="cuoi">Cười</li>
                <li class="raovat">Rao vặt</li>
            </ul>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/my_css.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="top-bar">
            <div class="main-bar">
                <div class="contact-left">
                    <a>0123.888.0123 (HN)</a>
                    <a>0129.999.0129 (TP.HCM)</a>
                    <button>Liên hệ quảng cáo</button>
                    <button>Like</button>
                    <button>Follow</button>
                    <button>YouTube</button>
                </div>
                <div class="Login-right">
                    <button>Đăng nhập</button>
                    <button>Đăng ký</button>
                    <input placeholder="Tìm kiếm" />
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
</body>
</html>

