﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div id="main-container">
    <div class="banner-container">
        <img src="~/Content/images/Logo_Vnexpress.png" />
        <img src="~/Content/images/right-ads-1.png" />
        <img src="~/Content/images/right-ads-2.png" />
    </div>
</div>
<div class="main-nav">
    <ul class="parent">
        <li class="home"> <img src="~/Content/images/home.png" alt="Trang Chủ" style="height: 15px;"> </li>
        <li class="thoisu">Thời sự</li>
        <li class="thegioi">Thế giới</li>
        <li class="kinhdoanh">Kinh doanh</li>
        <li class="giaitri">Giải trí</li>
        <li class="thethao">Thể thao</li>
        <li class="phapluat">Pháp luật</li>
        <li class="giaoduc">Giáo dục</li>
        <li class="suckhoa">Sức khỏe</li>
        <li class="giadinh">Gia đình</li>
        <li class="dulich">Du lịch</li>
        <li class="khoahoc">Khoa học</li>
        <li class="sohoa">Số hóa</li>
        <li class="xe">Xe</li>
        <li class="congdong">Cộng đồng</li>
        <li class="tamsu">Tâm sự</li>
        <li class="video">Video</li>
        <li class="cuoi">Cười</li>
        <li class="raovat">Rao vặt</li>
    </ul>
</div>